<h1>Teams#_form</h1>
<p>Find me in app/views/teams/_form.html.erb</p>

<%= form_for @team do |f| %>
  <%= f.text_field :name %>
  <%= f.collection_check_boxes(:superhero_ids, @superheros, :id, :name) do |b| %>
    <div>
      <%= b.check_box %>
      <%= b.label %>
    </div>
   <% end %>
  <%= f.submit %>
<% end %>